*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
