*,
*::before,
*::after {
  box-sizing: border-box;
}
.page {
  margin: 0;
  font-family: var(--main-font);
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
img {
  display: block;
  max-inline-size: 100%;
  object-fit: cover;
}
