:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e2;
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --section-title-color: #353430;
  --card-title-bg: #ff8dcb;
  --card-title-color: #353430;
  --link-shadow-color: #ff8dcb;
  --corner-color: #353430;
  --bg-image: url("../images/background-light.jpg");
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e2;
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --section-title-color: #353430;
    --card-title-bg: #ff8dcb;
    --card-title-color: #353430;
    --link-shadow-color: #ff8dcb;
    --corner-color: #353430;
    --bg-image: url("../images/background-light.jpg");
  }

  .header__rec {
    display: none;
  }
}
