:root {
  --main-font: "IBM Plex Mono", monospace;
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --shadow-color: #ff0070;
}
